{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card shadow">
            <div class="card-body p-4">

                <h2 class="text-center mb-4">Login</h2>

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter username" required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password"
                            required>
                    </div>

                    <div class="text-end mt-2">
                        <a href="{% url 'forgot_password' %}" class="text-primary text-decoration-none">
                            Forgot Password?
                        </a>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Login
                    </button>
                </form>

                <hr>

                <p class="text-center mb-0">
                    Don't have an account?
                    <a href="{% url 'register' %}">Register</a>
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}