{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-6 col-md-8">

        <div class="card shadow">

            <div class="card-body p-4">

                <h2 class="text-center mb-4">
                    Create Account
                </h2>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter username" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password"
                            required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control"
                            placeholder="Confirm password" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Register
                    </button>
                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}
                </form>

                <hr>

                <p class="text-center mb-0">
                    Already have an account?
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}