{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-4">
        <h2>Categories</h2>

        <a href="{% url 'add_category' %}" class="btn btn-success">
            + Add Category
        </a>
    </div>

    <table class="table table-dark table-hover">

        <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
            </tr>
        </thead>

        <tbody>

        {% for category in categories %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ category.name }}</td>
        </tr>

        {% empty %}

        <tr>
            <td colspan="2">No categories found.</td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}