{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-3">Income Sources</h2>

    <a href="{% url 'add_income' %}" class="btn btn-success mb-3">
        ➕ Add Income Source
    </a>

    <div class="table-responsive">

        <table class="table table-dark table-hover align-middle">

            <thead>
                <tr>
                    <th>Source</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>

                {% for income in incomes %}

                <tr>
                    <td>{{ income.source }}</td>

                    <td>
                        ₹{{ income.amount }}
                    </td>

                    <td>
                        {{ income.date|date:"d M Y" }}
                    </td>
                </tr>

                {% empty %}

                <tr>
                    <td colspan="3" class="text-center">
                        No income source added.
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    <div class="mt-3">
        <h4>
            Total Income : ₹{{ total_income }}
        </h4>
    </div>

</div>

{% endblock %}